@media (max-width: 770px) {
}

@media (max-width: 1115px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .firstDice {
    display: flex;
    flex-direction: row;
  }

  .secondDice {
    display: flex;
    flex-direction: row;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
}
